body {
  background-color: #f8f9fa;
}
.login-container {
  max-width: 400px;
  margin: 100px auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.login-container h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  font-weight: 600;
}
.forgot-password {
  text-align: right;
}
.register-link {
  text-align: center;
}
.btn-login {
  background-color: #007bff;
  color: #fff;
  border: none;
}
.btn-login:hover {
  background-color: #0056b3;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
}

.fondoComun {
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
}
.fondoComun, .fondoUser {
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),  url("../img/comida2.webp");
}

.fondoGenerico, .fondoGenerico2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),  url("../img/Fondo.jpg");
}

img {
 height: 300px;
 width: 300px;

}

.img {
  transition: transform 0.3s ease;
}

.img:hover {
  transform: scale(1.1); /* Ajusta el valor para el nivel de agrandamiento deseado */
}
.logo {
  height: 45px;
 width: 45px;
}
body.inicio {
  background-color: #e4e0d7;
}
/*Footer de abajo */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.contact-info, .social-media {
  flex: 1;
}

.contact-info h3, .social-media h3 {
  margin-bottom: 10px;
}

.social-media ul {
  padding: 0;
  list-style: none;
}

.social-media ul li {
  margin-bottom: 5px;
}

.social-media ul li a {
  color: #fff;
  text-decoration: none;
}

.social-media ul li a:hover {
  text-decoration: underline;
}

/*Pagina Restaurant*/

body.bodyrestaurant {
  font-family: Arial, sans-serif;
  background-color: #e4e0d7;
}

.contenedor {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.restaurant-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.carousel img {
  max-width: 100%;
  border-radius: 5px;
  margin-right: 10px;
}

.calificacion {
  margin-bottom: 10px;
}

.estrellas {
  color: #ffc107;
}

.direccion, .how-to-get {
  margin-bottom: 10px;
}

.reseña {
  margin-bottom: 20px;
}

.criti {
  margin-bottom: 5px;
}

.review p {
  margin: 0;
}
/*estrellas*/
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rating input {
  display: none;
}

.rating label {
  cursor: pointer;
  font-size: 2rem;
  color: #ccc;
}

.rating input:checked ~ label {
  color: #ffc107;
}

/*página foro crítico*/

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 30px;
  background-color: #ffffff;
}

.tablaperfil, .DatosRestaurant {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-position: center;
  top: 0;
  left: 0;
  width: auto;
  padding: 20px;
  background-color: #e2e1e1;
  border-radius: 10px;
  box-shadow: 0 1 10px rgba(165, 110, 110, 0.1);
  margin-bottom: 50px;
}
.perfil h1, .perfil h2, .perfil p {
  text-align: left;
  margin: 2.0;
}
.perfil h1 {
  font-size: 24px;
  color: #000000;
}
.perfil h2 {
  font-size: 18px;
  color: #000000;
}
.perfil p {
  font-size: 16px;
  color: #000000;
}

.DatosRestaurant {
  border-radius: 10px;
  background-color: #ffffff;
  background-position: right;
  width: auto;
}
.acciones {
  white-space: nowrap;
}

/* foro chef */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 30px;
  background-color: #ffffff;
}

.tablaperfilchef {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-position: center;
  top: 0;
  left: 0;
  width: auto;
  padding: 20px;
  background-color: #e2e1e1;
  border-radius: 10px;
  box-shadow: 0 1 10px rgba(165, 110, 110, 0.1);
  margin-bottom: 50px;
}
.perfil h1, .perfil h2, .perfil p {
  text-align: left;
  margin: 2.0;
}
.perfil h1 {
  font-size: 24px;
  color: #000000;
}
.perfil h2 {
  font-size: 18px;
  color: #000000;
}
.perfil p {
  font-size: 16px;
  color: #000000;
}
/* validaciones login */

.form-group .error {
  color: #ff3860;
  font-size: 15px;
  height: 13px;
}